{% block body %}

    <label for="field_{{ id }}">Field Name ({{ id }})</label>
    <input id="field_{{ id }}" type="text" class="name">
    <label for="field_type_{{ id }}">Field type</label>
    <select name="field_type_{{ id }}" id="field_type_{{ id }}" style="width: 250px;">
        <option value="string">String</option>
        <option value="integer">Integer</option>
        <option value="bool">Bool</option>
    </select>

{% endblock %}