{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <a href="{{ path('viewGoods') }}">Back</a>
    <h2>Create Good</h2>
    <div class="panel_top" style="display: flex; flex-direction: row; justify-content: space-between" >
        <div class="good" style="display: flex; flex-direction: column;width: 48%">
            <label for="good_name">Name</label>
            <input id="good_name" type="text" class="name">
            <label for="good_price">Price</label>
            <input id="good_price" type="number" class="price">
            <label for="good_color">Color</label>
            <input id="good_color" type="text" class="price">
            <label for="good_description">Description</label>
            <input id="good_description" type="text" class="price">
            <label for="good_count">Count</label>
            <input id="good_count" type="number" class="price">
            <label for="good_category">Category</label>
            <select name="good_category" id="good_category" style="width: 250px;">
                {% for category in categories %}
                    <option id="{{ category.id }}" value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <input id="good_submit" type="button" class="submitButton" value="Submit">
        </div>
{#        <div id="goodDelete" style="width: 48%">#}
{#        </div>#}
    </div>
    <hr>
    <form class="category" method="POST" style="display: flex; flex-direction: column; width: 1000px; margin: 0 auto; height: 400px">
        <h2 style="text-align: center">Create Category</h2>
        <label for="category_name">Name</label>
        <input id="category_name" type="text" class="name">
        <div id="properties">

        </div>
        <input id="category_add_field" type="button" value="Add new value">
        <input id="category_save" type="button" value="Save category">
    </form>
{#    {% for user in users %}#}
{#        <div class="user" id="user_{{ user.id }}">#}
{#            <p>{{ user.id }}</p>#}
{#            <p id="email_{{ user.id }}">{{ user.email }}</p>#}
{#            <input id="{{ user.id }}" type="button" class="deleteButton" value="delete">#}
{#            <input id="{{ user.id }}" type="button" class="promtButton" value="to Admin">#}
{#            <hr>#}
{#        </div>#}
{#    {% endfor %}#}
    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
{% endblock %}

