{% extends 'base.html.twig' %}
{% block title %}Hello ViewItemsController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello its a shop! ✅</h1>
    {% if app.user %}
        <h2>Auth as {{app.user.username}}</h2>
    {% endif %}

    <a href="{{ path('cart') }}">My cart</a>

    {% if app.user %}
        <a href="{{ path('app_logout') }}">Logout</a>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('admin') }}">Admin panel</a>
        {% endif %}
    {% else %}
        <a href="{{ path('app_register') }}">Sign up</a>
        <a href="{{ path('app_login') }}">Sign In</a>
    {% endif %}
    
    <form method="post">
        <h2>Sort by price</h2>
        <label for="minNum">Min Price</label>
        <input type="number" name="minNum" id="minNum" value="0" min="0" max="9999">
        <label for="maxNum">Max Price</label>
        <input type="number" name="maxNum" id="maxNum" value="0" min="0" max="9999"><br>
        <label for="category">Category</label>
        <select name="category" id="category" style="width: 250px;">
            <option value="None">None</option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select><br>
        <input type="button" id="buttonSort" value="Sort">
    </form>

    <div id="goods">

    </div>
</div>
    {% block javascripts %}
        {{ encore_entry_script_tags('main') }}
        {{ encore_entry_script_tags('global') }}
    {% endblock %}
{% endblock %}




