{% block body %}
    <label for="{{ fieldName }}">{{ fieldName }}</label>
    <div class="radio" style="display: flex">
        <p><input type="radio" value="yes" id="{{ fieldName }}" name="{{ fieldName }}">yes</p>
        <p><input type="radio" value="no" id="{{ fieldName }}" name="{{ fieldName }}">no</p>
    </div>
{% endblock %}