{% extends 'base.html.twig' %}

{% block title %}Hello ViewCartController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Cart ✅</h1>
    <a href="{{ path('viewGoods') }}">Back to Shop</a>
    {% for item in cart %}
        <form method="POST" id="item_{{ item.unicId }}" style="display: none" >
            <div class="item">
                <h4 id="itemName_{{ item.unicId}}"></h4>
                <span style="display: none" class="id">{{ item.unicId }}</span>
                <p id="itemStuff_{{ item.unicId }}"></p>
                <p id="itemTaken_{{ item.unicId }}"></p>
                <p id="itemDescription_{{ item.unicId }}"></p>
                <input type="button" value="Remove" class="buttonRemove" id="{{item.unicId}}">
            </div>
        </form>
    {% endfor %}
    {% block javascripts %}
        {{ encore_entry_script_tags('cart') }}
    {% endblock %}
</div>
{% endblock %}
